.idea
.vscode
.venv
.DS_Store
*__pycache__
datasets/*
saved_models/*
tmp/*
results/*
extracted_frames/*
!*.gitkeep
*.egg-info
NN_human_mouse_eyes
data_dump/
.env
wandb
*.onnx
notebooks
model_analysis/
/annotated_data/
/extracted_frames/
